{% extends 'main.html' %}

{% block content %}
<h1> Moje konto </h1>

<div class = "avatar">AVATAR</div>

<div class = "pasek_boczny">
    <buutton>Umówione wizyty</buutton>
    <button>Pacjenci</button>
    <button>Wiadomości</button>
    <button>Zmień ustawienia konta</button>
    <a href = "/cennik/"><button>Moje płatności</button></a>
</div>


<div class = "ocena">
    Średnia ocena klientów
</div>

<div class = "kalendarz">
    kalendarz
</div>

{% endblock content %}

